@model LeaderBoardService.Models.LoginModel
@section Style{
    <link rel="stylesheet" href="~/css/login.css" />
}
<div class="container">
    <form class="login-form form_log" method="post" asp-controller="Account" asp-action="Login"
                asp-route-returnUrl="@Model.ReturnUrl">

        <div class="alert alert-danger d-none">
            <button class="close" data-close="alert"></button>
            <span asp-validation-for="UserName"></span>
            <span asp-validation-for="Password"></span>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1" asp-for="UserName">Istifadəçinin adı</label>
            <input type="text" class="form-control" id="exampleInputEmail1" asp-for="UserName">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" asp-for="Password">Şifrə</label>
            <input type="password" class="form-control" id="exampleInputPassword1" asp-for="Password">
        </div>
         <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" asp-for="RememberMe">
            <label class="form-check-label" for="exampleCheck1" asp-for="RememberMe">Yadda saxla</label>
          </div> 
        <button type="submit" class="btn btn-primary">Giriş</button>
    </form>
</div>