<div class="container">
    <h1 class="my-5">istifadəçi məlumatları idarəsi</h1>

   
    <p>istifadəçi məlumatlarını silinməsi üçün qarademrel@gmail.com a muraciət edə bilərsiz başlıq olara fbdata və mesaj hissəsində telefon nömrəsini yazın </p> 
</div>
