
<div class="container">
    <h1 class="my-5">Məxfilik Siyasəti</h1>

    <h4 class="mt-3 mb-1">TOPLANMIŞ MƏLUMATLARIN İSTİFADƏSİ</h4>
    <p>Biz sizin məlumatlarınızı aşağıdakı məqsədlərlə istifadə edə bilərik:</p>
    <p>
        Tələblərinizə cavab vermək məqsədilə xidmətlərimizi yaxşılaşdırmaq və təkmilləşdirmək üçün müştərilərimiz və onların tələbləri ilə daha yaxından tanış olmaq. 

   Sizi daha yaxşı müştəri dəstəyi ilə təmin etmək.  
   
        Sizinlə ünsiyyət qurmaq. Hesabınızla əlaqədar problemlərin aşkarı və aradan qaldırılması zamanı daşınma ilə bağlı sizi məlumatlandırmaq və ya yeni işlərimiz barədə məlumat əldə etməyinizə imkan yaratmaq
 

    <h4 class="mt-3 mb-1">TƏHLÜKƏSİZLİK</h4>
    Siz sifariş yerləşdirərkən və məxfi məlumatlarınızı (kredit və ya debit kartındakı məlumatlar) təqdim edərkən onların təhlükəsizliyi və məxfiliyi bizim tərəfimizdən tamamilə təmin olunur. Nəzərinizə çatdırmaq istərdik ki, bütün şəxsi məlumatlar Secure Socket Layer (SSL) texnologiyası vasitəsilə ötürülür. Sizin kredit/debit kart nömrələriniz və şəxsi məlumatlarınız saxlanılmayacaq, satılmayacaq və ya hər hansı üçüncü tərəflə paylaşılmayacaq.
    <h4 class="mt-3 mb-1">COOKIES</h4>
    <p> Biz sizin şəxsi məlumatlarınızın toplanılması üçün cookies-dən istifadə etmirik. İstifadə edə biləcəyimiz yeganə cookies izləmə sessiyasının İD-ləri və istifadəçi rejimidir.</p>
    <h4 class="mt-3 mb-1">ÜÇÜNCÜ TƏRƏFLƏR</h4>
    <p>Qüvvədə olan qanunvericiliyə müvafiq olaraq və ya Ödəniş Sistemi Təminatçısı kimi üçüncü tərəf xidmət təminatçıları və ya digər tranzaksiya prosessoru tərəfindən tələb olunmadığı halda biz sizin şəxsi məlumatlarınızı üçüncü tərəflərə ötürmürük.</p>
</div>
